
.wp-block-create-block-call-to-action {
	background-color: #21759b;
	color: #fff;
	padding: 2px;

	.cta-link-text{
		padding: 12px 16px;
		margin-bottom: 5px;
		display: inline-block;
		&:focus {
			text-decoration: underline !important;
			box-shadow: none !important;
		}
	
		&.size-small {
			font-size: 14px;
		}
	
		&.size-normal {
			font-size: 18px;
		}
	
		&.size-medium {
			font-size: 22px;
		}
	
		&.size-large {
			font-size: 26px;
		}
	
		&.size-extra-large {
			font-size: 30px;
		}
		&.border-radius-squared {
			border-radius: 0;
		}
		&.border-radius-rounded{
			border-radius: 10px;
		}
		&.border-radius-circular{
			border-radius: 20px;
		}
		&.border-radius-extra-circular{
			border-radius: 30px;
		}
	}

	&.is-style-squared {
		border-radius: 0;
	}

	&.is-style-rounded {
		border-radius: 10px;
	}

	&.size-small {
		font-size: 14px;
	}

	&.size-normal {
		font-size: 18px;
	}

	&.size-medium {
		font-size: 22px;
	}

	&.size-large {
		font-size: 26px;
	}

	&.size-extra-large {
		font-size: 30px;
	}

	&.has-shadow {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

		&.shadow-opacity-10 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		}

		&.shadow-opacity-20 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		}

		&.shadow-opacity-30 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		}

		&.shadow-opacity-40 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
		}
	}

	&.text-box-align-right {
		text-align: right;
	}

	&.text-box-align-center {
		text-align: center;
	}

	&.text-box-align-left {
		text-align: left;
	}
}
